{% extends "base.html" %}
{% block title %}Upload new File{% endblock %}
{% block content %}
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file class="form-control-file" name=file>
    <br>
    <label for="correspondenceType">Document Type:</label>
    <select class="form-control" id="correspondenceType" name="correspondenceType">
        {% for type in types %}
        <option value="{{type.lower()}}">{{type.title()}}</option>
        {% endfor %}
    </select>
    <br>
    <label for="category">Sender Category:</label>
    <select class="form-control" id="category" name="category">
        {% for category in categories %}
        <option value="{{category.lower()}}">{{category.title()}}</option>
        {% endfor %}
    </select>
    <br>
    <label for="start">Date:</label>
    <input type="month" class="form-control" id="correspondenceDate" name="correspondenceDate" value="{{default_date}}">
    <br>
    <input type=submit class="btn btn-primary mb-2" value=Upload>
</form>
{% endblock %}